.fade.in {
  opacity: 1;
}

.modal-backdrop {
  opacity: 0.15 !important;
}

.modal {
  position: absolute;
  top: 10%;
  padding-top: 50px;
}

.modal-header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}